<!-- <div class="teaching">
    <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row">2023 Summer</th>
          <td class="news-title">
            Introduction to Computing Systems
            , with <a href="https://users.ece.utexas.edu/~patt/">Dr. Yale Patt</a> and 
            <a href="https://person.zju.edu.cn/en/jiangxh">Prof. Xiaohong Jiang</a>
          </td>
        </tr>
      </table>
    </div>
  </div> -->
    <!-- <div class="teaching">
      <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row">2023 Summer</th>
          <td class="news-title">
            Introduction to Computing Systems
            , with <a href="https://users.ece.utexas.edu/~patt/">Dr. Yale Patt</a> and 
            <a href="https://person.zju.edu.cn/en/jiangxh">Prof. Xiaohong Jiang</a>
          </td>
        </tr>
      </table>
    </div> 
  </div> -->
  <p style="text-align:left;">
    <ul>
      <li>
    <b><i>Introduction to Computing Systems</i></b> with <a href="https://users.ece.utexas.edu/~patt/">Dr. Yale Patt</a> and 
      <a href="https://person.zju.edu.cn/en/jiangxh">Prof. Xiaohong Jiang</a>
    </td>
    <span style="float:right;">
      <b>2023 Summer</b> 
    </span>
      </li>
      <li>
        <b><i><a href="https://github.com/Guahao31/2024_CO">Computer Organization and Design</a></i></b> with <a href="https://person.zju.edu.cn/en/hfliu">Prof. Haifeng Liu</a>
        </td>
        <span style="float:right;">
          <b>2024 Spring & Summer</b> 
        </span>
          </li>

          <li>
            <b><i>Computer SystemⅠ</i></b> with <a href="https://lynnlilu.github.io/">Prof. Li Lu</a> and <a href="https://person.zju.edu.cn/htshen#0">Prof. Haoting Shen</a>
            </td>
            <span style="float:right;">
              <b>2024 Spring & Summer</b> 
            </span>
              </li>
  </ul>
  </p>
  
  


