---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.more_info %}
            <div class="more-info">
              {{ page.profile.more_info }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
          <br><br>
          <div class="wrapper">
            <div id="awards" class="bio">
              <h3 class="md-heading text-left">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <b>Selected Honors & Awards</b>
              </h3>
              <ul>
                <li><b>Zhejiang Government Scholarship</b>, 2022, 2023</li>
                <ul>
                  <li>Awarded by <b>Ministry of Education of Zhejiang</b>, <b>2 consecutive times</b></li>
                </ul>
                <li><b>Huawei Elite Scholarship</b>, 2023</li>
                <ul>
                  <li>Awarded by <b>Huawei Technologies Co., Ltd</b></li>
                </ul>
                <li><b>Third Prize in National Student Computer System Capability Challenge</b>, 2023</li>
                <ul>
                  <li>Awarded to Top 10% participants based on the performance of the MIPS processer</li>
                </ul>
                <li><b>Second Prize in CSP-S 2019</b>, 2023</li>
                <ul>
                  <li>National Olympiad in Informatics in Provinces, awarded by <b>China Computer Federation</b></li>                  
                </ul>
              </ul>
            </div>
          </div>

          <!-- Teaching Assitant -->
          <br><br>
          <div class="wrapper">
            <div id="teaching" class="bio">
              <h3 class="md-heading text-left">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <b>Teaching Assitants</b>
              </h3>
              {%- include ta.html %}
            </div>
            </div>
          </div>
          
          <!-- <h2 style="color: inherit;"><b>Teaching Assistant</b></h2> -->
  
        </article>


</div>
